<!-- logout template -->
<!-- login template -->
{% extends "user/base.html"%}

<!-- extended a base template to home template with a code block of extend and base template route -->

{% block content %}
<!--
    <div class="card mb-5 shadow-lg p-3 mb-5 bg-white rounded " >
      <div class="card-body ">
          <div class="content-section border-bottom m-5 ">


          </div>
        </div>
    </div>
-->


    <div class="card center" >
      <div class="card-body shadow ">
          <div class="content-section border-bottom m-5 ">
                <span> You have been <b>Logged out</b> succesfully !!</span><br>
                <span> We Hope You find this portal <b> Worthful</b> and <b>we again see you soon</b> =) </span> <br>
                <span> or any message campus wants to show to their childer !!<br> </span>
                <br>
               <div class="border-top pt-3 ">
                 <br>
                 <small class="text-muted" style="font-size:12px;"> Need an Account ? <a class="ml-2" href="{% url 'register'%}">
                   <button class="btn btn-primary" type="submit" name="button" class="btn btn-primary"  style="font-size:10px;"> Register Now  </button></a></small> <br>
                <br>
                <hr>
                <br>
                 <small class="text-muted" style="font-size:12px;"> Want to In Again ? <a class="ml-2" href="{% url 'login'%}">
                   <button class="btn btn-primary" type="submit" name="button" class="btn btn-primary"  style="font-size:10px;"> Login Now </button></a></small>
               </div>
               <br>
          </div>
        </div>
    </div>

{% endblock content %}
